{% extends "../layout.html" %}

{% block header %}
<style>
    table{
        border: 1px solid red;
    }
</style>
{% end %}


{% block body %}
    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gene</td>
                <td>32</td>
            </tr>
            <tr>
                <td>Gene</td>
                <td>32</td>
            </tr>
        </tbody>
    </table>
{% end %}


{% block footer %}
{# footer部分 #}
{% end %}
